*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

header{
    padding: 20px;
    line-height: 100%;
}


nav, li{
    display: inline-block;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    vertical-align: middle;
    }


a{
    text-decoration: none;
    color: white;
}


.logo{
    margin-right: 50px;
    vertical-align: middle;
}

.left-nav{
    margin-right: 200px;
}


.right-nav li:last-child{
    background-color: rgb(19, 75, 226);
}