*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

header{
    padding: 20px;
    line-height: 100%;
}


nav, li{
    display: inline-block;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    vertical-align: middle;
    }


a{
    text-decoration: none;
    color: white;
}

h1{
    font-size: 50px;
    margin: 30px 0px 30px 0px;
}

section{
    background-color: rgb(188, 217, 240);
    height: 80vh;
}

p{
    font-size: small;
}


main{
    width: 70%;
    margin: 150px auto;
}

article ul li{
    font-size: small;
    text-align: left;
}

article a{
    text-decoration: underline;
    color: darkblue;
}


.logo{
    margin-right: 100px;
    vertical-align: middle;
}

.left-nav{
    margin-right: 350px;
}


.right-nav li:last-child{
    background-color: rgb(19, 75, 226);
}

.jumbotron{
    width: 90%;
    margin: 0 auto;
    padding: 60px;
}

.jumbo-text{
    float: left;
    width: 30%;
}


.jumbo-img{
    width: 70%;
    float: left;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.jumbotron a{
    background-color: rgb(19, 75, 226);
    padding: 8px;
    display: inline-block;
    margin: 20px 0px 10px 0px;

}

.left-col{
  float: left;  
  border: solid 2px lightgray;
  width: calc(94%/3);
  margin: 3% 3% 0% 0%;
  padding: 10px;
}

.center-col{
    float: left;  
    border: solid 2px lightgray;
    width: calc(94%/3);
    margin: 3% 0% 0% 0%;
    padding: 10px;
}

.right-col{
    float: left;
    border: solid 2px lightgray;
width:calc(94%/3);
margin: 3% 0% 0% 3%;
padding: 10px;
}


.header {
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 1px solid lightgray;
}



.prova-link{
    background-color: rgb(19, 75, 226); 
    width: 50px;
    padding: 8px;
    color: white;
    text-decoration: white;
    text-align: center;
}