*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

header{
    padding: 20px;
    line-height: 100%;
    padding: 20px;
    line-height: 100%;
    position: fixed;
    background-color: white;
    width: 100%;
}



nav, li{
    display: inline-block;
    padding: 10px;
    vertical-align: middle;
    }


a{
    text-decoration: none;
    color: white;
}

h1{
    font-size: 110px;
    margin: 80px 0px 30px 0px;
}

section{
    background-color: rgb(188, 217, 240);
    height: 80vh;
}

p{
    font-size: small;
}


main{
    width: 50%;
    margin: 350px auto 0px auto;
}

h2{
    margin-bottom: 30px;
   font-size: 50px;
}

article ul li{
    font-size: small;
    text-align: left;
}

article a{
    text-decoration: underline;
    color: #0061ff;
}


footer{
    background-color: black;
    width: 100%;
    height: 70vh;
}

.logo{
    vertical-align: middle;
    float: left;
}

.left-nav{
    float:left;
    width: 70%;
}

.right-nav{
    float: left;
}

.right-nav li:last-child{
    background-color: #0061ff;
}

.jumbotron{
    width: 90%;
    margin: 0 auto;
    padding: 60px;
}

.jumbo-text{
    float: left;
    width: 30%;
}


.jumbo-img{
    width: 70%;
    float: left;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.jumbotron a{
    background-color: #0061ff;
    padding: 8px;
    display: inline-block;
    margin: 20px 0px 10px 0px;

}

.fa-arrow-down {
    color: black;
   font-size: 50px;
   margin-top: 10%;

}

.price-section li{
    display: block;
    
}

.price-section ul{
    margin-top: 5%;
    margin-bottom: 5%;
}

.left-col{
  float: left;  
  border: solid 2px lightgray;
  width: calc(94%/3);
  margin: 3% 3% 0% 0%;
 min-height: 60vh;
}

.center-col{
    float: left;  
    border: solid 2px lightgray;
    width: calc(94%/3);
    margin: 3% 0% 0% 0%;
    
    min-height: 60vh;
}

.right-col{
    float: left;
    border: solid 2px lightgray;
width:calc(94%/3);
margin: 3% 0% 0% 3%;

min-height: 60vh;
}


.header {
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 1px solid lightgray;
    margin-top: 10px;
}



.prova-link{
    background-color: #0061ff;
    width: 50px;
    padding: 8px;
    color: white;
    text-decoration: white;
    text-align: center;
}

.fa-check{
    color: #0061ff;
    margin-right: 4px;
}

.fas, .far{
    margin-right: 5px;
}

.bottom-col{
    
    
    border: solid 2px lightgray;
    border-top: none;
    margin-top: 50px;
}

.info-price{
    padding:2%
}


.contatta{
    display: inline-block;
    width: 240px;
    margin-left: 60%;
}

.bottom-col h3{
    display: inline-block;
    margin-bottom: 5%;
}

.partner{
    margin-top:100px;
}

.partner img{
    width: calc(96%/2);
    margin: 0% 4% 0% 0%;
    float: left;
}

.partner-txt{
    margin-top: 20px;
    float: left;
    width: calc(96%/2);
}

.partner-txt a {
    border: solid 1px lightgray;
    color: black;
    text-decoration: none;
    padding: 10px;
    margin-top: 5%;
    display: inline-block;

}

.container {

    margin-top: 100px;
}

.container img{
    width: 100%;
}


.left-content{
    width: calc(94%/3);
    float: left;
    margin-right: 3%;

}

.cnt-content{
    width: calc(94%/3);
    float: left;
    
}

.right-content{
        width: calc(94%/3);
        float: left;
        margin-left: 3%;
}

.width100{
    width: 50%;
    margin: 100px auto;


}
.teams{
    height: 50vh;
 
    width: 100vw;
    
}

.team-left{
  
    width: 25vw;
    height: 25vh;
    float: left;


}

.team-cnt{
    width: 50%;
    float: left;
    height: 100%;
    background-color: white;
    padding: 90px;
    
}

.team-right{
    width: 25vw;
    height: 25vh;
    float: right;
}
    


.designit{
    background-color: rgb(185, 226, 143);
    width: 50%;
    height: 25vh;
    float: left;
    position: relative;}


.arizonauni{
    background-color: rgb(61, 21, 21);
    width: 50%;
    height: 25vh;
    float: left;
    position: relative;}

.floridauni{
    background-color: rgb(24, 131, 158);
    width: 50%;
    height: 25vh;
    float: left;
    position: relative;
}

.topps{
    background-color: rgb(158, 24, 24);
    width: 50%;
    height: 25vh;
    float: left;
    position: relative;
}

.wbr{
    background-color: rgb(240, 46, 46);
    width: 50%;
    height: 25vh;
    float: right;
    position: relative;
}

.hearst{
    background-color: rgb(188, 217, 240);
    width: 50%;
    height: 25vh;
    float: right;
    position: relative;
}

.lonelyplanet {
    background-color: rgb(54, 79, 221);
    width: 50%;
    height: 25vh;
    float: right;
    position: relative;
}

.clearchannel{
    background-color: rgb(247, 226, 45);
    width: 50%;
    height: 25vh;
    float: right;
    position: relative;}

.teams img{
    
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1);

}

.team-cnt img {
    width: 39%;
    position: relative;
    filter: brightness(0.5);
    left: 20%;
    top: auto;
}


.teams-footer{
    background-color: rgb(188, 217, 240);
    padding: 10% 25%;
}


.teams-footer h2{
    float: left;
    width: 60%;
    color:rgb(61, 21, 21);
}

.teams-footer a{
    background-color: white;
    padding: 10px;
    float: left;
    width: 25%;
    text-align: center;
    margin-top: 10px;
    margin-left: 170px;
    text-decoration: none;
}

.faq{
    background-color: white;
    width: 50%;
    margin: 250px auto;
    line-height: 500%;
    height: 40vh;
}

.faq h3{
    display: inline-block;
   
    margin-bottom: 3vh;
    border-bottom: 1px solid lightgray;

}

.faq i{
    margin-left: 20vw;
}

.faq p{
    line-height: 100%;
    display: none;
}

.faq h3:hover{
    color: #0061ff;
}

.faq h3:hover p{
    display: inline;
}



.footer-container div{
    float: left;
    width: calc(75%/5);
    color: white;
    text-align: left;
    margin: 10% 5% 5% 0%;
}

.footer-container ul li{
    display: block;
    text-align: left;
  padding: 10px 0px 0px 0px;
}

.footer-container div:first-child{
    border-bottom: 1px solid lightgrey;
    height: 30vh;
}

footer p{
    color: lightgray;
    width: 50%;
    margin: 0 auto;
}